body {
  padding-top: 70px;
 margin-left: 130px;

}

.Logo{
    height: 72px;
	margin-right: 10px;
}
	
.navbar-inverse{
	background-color:#27CA45;
}

#naviBar{
	font-size: 20px;
	padding-top: 15px;
}

input[type=text] {
    width: 430px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#UplAnm{
	
	height:45px;
	width:70px;
	background-color: rgb(39, 202, 69);
	border: none;
}

#UplAnm2{
	
	height:45px;
	width:70px;
	background-color: rgb(39, 202, 69);
	border: none;
}

#searchBar{
	margin-left: 990px;
}


.blackCockDown
{
	color: white;
}

//.navBar{
	color:black;
}